/* The following line can be included in a src/App.scss */
@import "bootstrap/dist/css/bootstrap.min.css";
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Protest Riot";
  height: 100%;
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.card:hover {
  transition: 0.1s ease;
  transform: translate(0.2rem, 0.2rem);
}
